body {
  background-color: black;
  color: green;
  font-size: 22px;
  text-align: center;
}

h1 {
  text-align: center;
  color: gold;
  text-align: center;

}

#playersHand {
  position: absolute;
  left: 0px;
  width: 300px;
  border: 3px solid;
  padding: 10px;
}

#dealerHand {
  position: absolute;
  right: 0px;
  width: 300px;
  border: 3px solid;
  padding: 10px;
}